<!DOCTYPE html>
<html>
  <head>
    <title>Let's see what's on!</title>
    <meta name="description" content="Stumble upon cool things made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <img id="tv" src="https://cdn.glitch.com/01953107-f605-4969-9021-12773114885d%2FOldTV.svg?1506735390877" />
    
    <div class="aspect-ratio">
      <iframe></iframe>
      <img id="static" src="https://cdn.glitch.com/01953107-f605-4969-9021-12773114885d%2Fstatic.gif?1506804711126" />
    </div>
    
    <button id="channel" title="see what's on the other side"></button>
    <div id="title"><label></label></div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
